[Unit]
Description=Run deploy_notifier every 2 minutes

[Timer]
OnCalendar=*:0/2
RandomizedDelaySec=15s
Persistent=true
Unit=ourliberty-deploy-notifier.service

[Install]
WantedBy=timers.target
